/* Sticky footer styles
-------------------------------------------------- */
html, body {
    height: 100%;
    margin: 0
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    overflow: auto;
    padding-top: 20px;
}

.sticky-tr {
    position: sticky;
    top: -21px; /*Bug with JavaFX Webengine where 1px of content was visible between divs*/
    background-color: white;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
}

.footer {
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    max-width: 95%;
    padding: 0 15px;
}

.modal-query {
    white-space: pre-line;
    font-size: .8em;
}

/* settings panel CSS
-------------------------------------------------- */

.modal-dialog-slideout {
    min-height: 100%;
    margin: 0 0 0 auto;
    background: #fff;
}
.modal.fade .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(100%, 0)scale(1);
    transform: translate(100%, 0)scale(1);
}

.modal.fade.show .modal-dialog.modal-dialog-slideout {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    display: flex;
    align-items: stretch;
    -webkit-box-align: stretch;
    height: 100%;
}

.modal.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-dialog-slideout .modal-content {
    border: 0;
}

.modal-dialog-slideout .modal-header,
.modal-dialog-slideout .modal-footer {
    height: 69px;
    display: block;
}

.modal-dialog-slideout .modal-header h5 {
    float: left;
}

